<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_helper-test._tcp</string>
		<string>_helper-test._udp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-screen-background</string>
		<key>UIImageName</key>
		<string>launch-screen-image</string>
	</dict>
</dict>
</plist>
